<%= provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>
			
      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
			
			<div class='hideme'>
			<%= f.text_field :user_type %><%= f.text_field :referred_by %>
			</div>
			
    <% end %>
  </div>
</div>

<div>
	<h1>
		This should be a redirect or something post signup<br/>
    <%= link_to "Here", thanks_path %>
  </h2> 
</div>